:root {
  --clr-fnt-primary: #0b0c17;
  --clr-accent-pink: #ff3571;
  --clr-pages: #dddd;
  --clr-linear-grd: #3c30ff;
  --clr-black: #000;
  --clr-white: #fff;
}

* {
  margin: 0;
  padding: 0;
  color: var(--clr-fnt-primary);
}

body {
  font-family: "Roboto", sans-serif;
  width: 100vw;
  scroll-behavior: smooth;
}

.header-break {
  display: block;
  font-size: 0.9rem;
}

img {
  width: 100%;
}

img.emoji {
  width: 2rem;
}

p {
  line-height: 1.75;
  font-weight: 300;
}

h1,
h2,
h3,
h4,
p {
  text-align: center;
}

.main,
.footer {
  padding: 0 3.5rem;
}

/* ====== HEADER STYLING ====== */

.header {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}

.header-bg {
  background-image: url("../img/ilustracion1.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.logo-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1.2rem;
}

.logo {
  object-fit: contain;
  height: 3rem;
  width: 100%;
}

.logo-headline {
  font-size: 1.5rem;
}

.scroll {
  font-size: 0.9rem;
  font-weight: 600;
  color: var(--clr-accent-pink);
}

.header-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

.header-headline {
  font-size: 1.5rem;
}

.header-text {
  font-size: 0.9rem;
}

.header-headline,
.header-text,
.scroll {
  padding: 0 3.5rem;
}

.preview-img {
  object-fit: cover;
  height: 20rem;
}

.img-animation {
  height: 100%;
  animation: animation 3s ease-in-out;
}

/* ====== HEADER ANIMATION ====== */

@keyframes animation {
  0% {
    transform: translateY(-2rem);
  }
  100% {
    transform: translateY(0rem);
  }
}

/* ====== MAIN STYLING ====== */

.main-text-br {
  display: block;
}

.section-controller {
  margin-top: 3rem;
}

.introduction-container {
  display: grid;
  grid-template-areas:
    "headline"
    "text";
  gap: 2rem;
}

.main-headline {
  font-size: 2rem;
  text-align: center;
  grid-area: headline;
}

.main-text {
  grid-area: text;
  line-height: 2;
}

/* ====== Learning Section ====== */

.learning-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}

.learning-example {
  display: grid;
  gap: 2rem;
  grid-template-areas:
    "img"
    "text";
}

.learning-text-container {
  grid-area: text;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.learning-headline {
  font-size: 1.5rem;
  font-weight: 500;
}

.learning-text {
  font-size: 1.1rem;
}

.side-img {
  grid-area: img;
  height: 2.5rem;
  width: 100%;
}

.subscribe-btn:hover {
  background: rgb(255, 53, 113);
  background: linear-gradient(
    90deg,
    rgba(255, 53, 113, 1) 0%,
    rgba(60, 48, 255, 1) 100%
  );
}

/* ====== Challenge Section ====== */

.challenge-introduction {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  gap: 2rem;
}

.challenge-container {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.section-number {
  font-size: 2.5rem;
  color: var(--clr-pages);
}

.challenge-headline {
  font-size: 1.5rem;
}

.align-items-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.section-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

/* ====== FOOTER STYLING ====== */

.footer {
  margin-top: 3rem;
}

.footer-subscribe {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.input {
  width: 100%;
  height: 2rem;
  text-align: center;
  border: none;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.subscribe-btn {
  height: 2rem;
  width: 70%;
  border-radius: 0.25rem;
  border: none;
  background-color: var(--clr-accent-pink);
  color: var(--clr-white);
}
.headline-br {
  display: block;
}

.partings-words {
  display: flex;
  padding: 2rem 0;
  justify-content: center;
  align-items: center;
}

/* ====== BREAKPOINTS ====== */

@media screen and (min-width: 768px) {
  .main,
  .footer {
    padding: 0 6rem;
  }
  .learning-container {
    display: grid;
    grid-auto-rows: 1fr;
    grid-template-areas:
      "headline nospace"
      "first second"
      "third fourth";
  }
  .learning-container {
    grid-auto-rows: 1fr;
    align-items: start;
  }

  .learning-box-01 {
    grid-area: first;
  }
  .learning-box-02 {
    grid-area: third;
  }
  .learning-box-03 {
    grid-area: second;
  }
  .learning-box-04 {
    grid-area: fourth;
  }
}

@media screen and (min-width: 1100px) {
  .header {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }

  .header-content {
    width: 100%;
    text-align: left;
    margin-top: 10%;
    align-items: flex-start;
  }

  .header-bg {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    width: 55%;
    height: auto;
  }

  .header-break {
    font-size: 0.7rem;
    font-weight: 400;
  }

  .header-headline,
  .header-text,
  .scroll {
    padding: 0 4.5rem;
    text-align: left;
  }

  .header-headline {
    font-size: 4rem;
  }
  .header-text {
    font-size: 1.25rem;
    font-weight: 300;
    width: 30%;
  }

  .preview-img {
    width: 100%;
  }

  .logo {
    height: 2rem;
    width: 2rem;
    position: fixed;
    top: 0.5rem;
    margin-top: 1.5rem;
    left: 1rem;
  }

  .logo-headline {
    margin-left: 3rem;
    margin-top: 2rem;
    font-size: 1rem;
    text-align: left;
  }

  .logo-container {
    position: relative;
    gap: 0.5rem;
  }

  .main-headline {
    font-size: 2.8rem;
    text-align: left;
    justify-content: center;
    align-content: center;
  }

  .scroll {
    margin: 5rem 0;
  }

  .section-controller {
    margin-top: 10rem;
  }

  .section-controller:first-child {
    margin-top: 18rem;
  }

  .introduction-container {
    display: grid;
    grid-auto-rows: 1r;
    gap: 5rem;
    grid-template-areas: "headline text text";
  }

  .introduction-container > * {
    text-align: left;
  }

  .introduction-container .main-headline {
    grid-area: headline;
  }

  .introduction-container .main-text {
    grid-area: text;
    margin-right: 5rem;
  }

  .learning-container > .main-headline {
    margin-bottom: 2rem;
  }

  .learning-example {
    grid-template-areas: "img text";
  }
  .learning-text-container {
    align-items: flex-start;
  }
  .learning-text {
    text-align: left;
  }
  .challenge-introduction {
    align-items: center;
  }
  .challenge-text {
    width: 60%;
    text-align: left;
  }
  .main-text-br {
    display: inline;
  }
  .section-center {
    display: grid;
    gap: 3rem;
    grid-template-areas:
      "img page"
      "img emoji"
      "img headline"
      "img text";
  }
  .challenge-container {
    gap: 4rem;
  }

  .challenge-img {
    grid-area: img;
  }
  .section-number {
    grid-area: page;
    text-align: left;
  }
  .challenge-emoji {
    grid-area: emoji;
    text-align: left;
  }
  .challenge-headline {
    text-align: left;
  }
  .section-center > .challenge-text {
    grid-area: text;
    width: 100%;
  }
  .section-solution,
  .section-share {
    display: grid;
    gap: 3rem;
    grid-template-areas:
      "page img"
      "emoji img"
      "headline img"
      "text img";
  }
  .footer-subscribe {
    margin-top: 9rem;
    align-items: center;
  }
  .form {
    width: 100%;
  }
  .input {
    width: 40%;
    height: 4rem;
  }
  .subscribe-btn {
    width: 15%;
    height: 3rem;
  }
  .partings-words {
    margin-top: 6rem;
    display: flex;
    justify-content: flex-start;
  }
}
